services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
  postgres:
    container_name: postgres
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=yugy
      - POSTGRES_PASSWORD=muto
    ports:
      - "5433:5432"
